@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

body {
  overflow-x: hidden;
  background: #ccc;
}

button {
  cursor: pointer;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #99baed;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px rgba(153, 186, 237, 0.5);
          box-shadow: 0 0 50px rgba(153, 186, 237, 0.5);
  border: none;
  width: 188px;
  height: 76px;
}

.home main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(30px + (178 - 30) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-left", 178, 15, 0); */
  margin-right: 20px;
  /* @include adaptiv-value("margin-right", 30, 15, 0); */
}

.home main .logo {
  margin-right: calc(
 24px + (110 - 24) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-right", 110, 12, 0); */
}

.home main .logo img {
  width: calc(
 103px +
 52 *
 ((100vw - 320px) / 1600));
}

.home main nav {
  margin-right: calc(
 25px + (400 - 25) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-right", 30, 10, 0); */
}

.home main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.home main nav ul li {
  margin-right: calc(
 10px + (48 - 10) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-right", 48, 20, 0); */
}

.home main nav ul li:last-child {
  margin-right: 0;
}

.home main nav ul li a {
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #163561;
  text-decoration: none;
}

.home main nav ul li a:hover {
  color: #a3c1ef;
}

.home main .icons img {
  /* @include adaptiv-value("margin-right", 72, 30, 0); */
  margin-right: calc(
 10px + (72 - 10) * ((100vw - 320px) / (1920 - 320)));
  cursor: pointer;
}

.home main .icons img:last-child {
  margin-right: 0;
}

.home main .buttn {
  margin-left: calc(
 15px + (72 - 15) * ((100vw - 768px) / (1920 - 768)));
}

.home .content {
  margin-top: calc(
 20px +
 43 *
 ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .content .left {
  /* @include adaptiv-value("width", 576, 300, 0); */
  width: 576px;
  margin-left: calc(
 10px +
 178 *
 ((100vw - 320px) / 1600));
  margin-right: calc(
 0px +
 38 *
 ((100vw - 320px) / 1600));
}

.home .content .left h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 100px;
  color: #163561;
  margin-bottom: calc(
 15px +
 14 *
 ((100vw - 320px) / 1600));
  width: 576px;
}

.home .content .left span {
  color: #fbb400;
}

.home .content .left p {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  margin-bottom: calc(
 30px +
 67 *
 ((100vw - 320px) / 1600));
}

.home .content .right {
  /* @include adaptiv-value("width", 1234, 320, 0);
        @include adaptiv-value("height", 821, 500, 0); */
  /* background: url("../images/img//home_img.png") no-repeat;
        background-size: 100%; */
  overflow-x: hidden;
}

.home .content .right img {
  width: 1234px;
  height: 821px;
  overflow-x: hidden;
}

@media screen and (max-width: 890px) {
  .home main {
    margin-left: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home main nav {
    display: none;
  }
  .home main .buttn {
    display: none;
  }
  .home .content {
    display: block;
    margin-right: 10px;
  }
  .home .content .left {
    text-align: center;
    margin: 0 auto;
  }
  .home .content .right {
    max-width: 890px;
  }
  .home .content .right img {
    display: block;
    max-width: 890px;
  }
}

@media screen and (max-width: 375px) {
  .home main {
    margin-left: 20px;
  }
  .home main .icons img {
    width: 38px;
  }
}
