@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #99baed;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px rgba(153, 186, 237, 0.5);
          box-shadow: 0 0 50px rgba(153, 186, 237, 0.5);
  border: none;
  width: 188px;
  height: 76px;
}

.home main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(30px + (178 - 30) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-left", 178, 15, 0); */
  margin-right: 20px;
  /* @include adaptiv-value("margin-right", 30, 15, 0); */
}

.home main .logo {
  margin-right: calc( 24px + (110 - 24) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-right", 110, 12, 0); */
}

.home main .logo img {
  width: calc( 103px + 52 * ((100vw - 320px) / 1600));
}

.home main nav {
  margin-right: calc( 25px + (400 - 25) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-right", 30, 10, 0); */
}

.home main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.home main nav ul li {
  margin-right: calc( 10px + (48 - 10) * ((100vw - 890px) / (1920 - 890)));
  /* @include adaptiv-value("margin-right", 48, 20, 0); */
}

.home main nav ul li:last-child {
  margin-right: 0;
}

.home main nav ul li a {
  font-weight: 500;
  font-size: 25px;
  line-height: 33px;
  color: #163561;
  text-decoration: none;
}

.home main nav ul li a:hover {
  color: #a3c1ef;
}

.home main .icons img {
  /* @include adaptiv-value("margin-right", 72, 30, 0); */
  margin-right: calc( 10px + (72 - 10) * ((100vw - 320px) / (1920 - 320)));
  cursor: pointer;
}

.home main .icons img:last-child {
  margin-right: 0;
}

.home main .buttn {
  margin-left: calc( 15px + (72 - 15) * ((100vw - 768px) / (1920 - 768)));
}

.home .content {
  margin-top: calc( 35px + 28 * ((100vw - 320px) / 1600));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .content .left {
  width: calc( 300px + 276 * ((100vw - 320px) / 1600));
  /* width: 576px; */
  margin-left: calc( 0px + 178 * ((100vw - 320px) / 1600));
  margin-right: calc( 0px + 38 * ((100vw - 320px) / 1600));
}

.home .content .left h1 {
  font-weight: 700;
  /* font-size: 75px; */
  font-size: calc( 35px + 40 * ((100vw - 320px) / 1600));
  line-height: calc( 50px + 50 * ((100vw - 320px) / 1600));
  /* line-height: 100px; */
  color: #163561;
  margin-bottom: calc( 15px + 14 * ((100vw - 320px) / 1600));
  /* width: 576px; */
  width: calc( 300px + 276 * ((100vw - 320px) / 1600));
}

.home .content .left span {
  color: #fbb400;
}

.home .content .left p {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  margin-bottom: calc( 38px + 59 * ((100vw - 320px) / 1600));
}

.home .content .right {
  /* @include adaptiv-value("width", 1234, 320, 0);
        @include adaptiv-value("height", 821, 500, 0); */
  background: url("../images/img//home_img.png") no-repeat;
  background-size: cover;
  overflow-x: hidden;
  width: calc( 318px + 916 * ((100vw - 320px) / 1600));
  height: calc( 280px + 541 * ((100vw - 320px) / 1600));
}

.history {
  margin-top: calc( 30px + 19 * ((100vw - 320px) / 1600));
  position: relative;
}

.history .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 177px;
}

.history .content .text {
  width: calc( 300px + 226 * ((100vw - 320px) / 1600));
  margin-left: calc( 0px + (149 - 0) * ((100vw - 890px) / (1920 - 890)));
  margin-right: calc( 0px + (195 - 0) * ((100vw - 890px) / (1920 - 890)));
  z-index: 10;
}

.history .content .text h1 {
  font-weight: 700;
  font-size: calc( 35px + 35 * ((100vw - 320px) / 1600));
  line-height: calc( 50px + 55 * ((100vw - 320px) / 1600));
  color: #163561;
  margin-bottom: calc( 10px + 70 * ((100vw - 320px) / 1600));
  letter-spacing: 0.03em;
  /*  @include adaptiv-value("width", 576, 300, 0); */
}

.history .content .text span {
  color: #fbb400;
}

.history .content .text p {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  margin-bottom: calc( 15px + 33 * ((100vw - 320px) / 1600));
}

.history .content .text .two {
  margin-bottom: calc( 30px + 78 * ((100vw - 320px) / 1600));
}

.history .content .picture {
  background: url("../images/img/history_img.png") no-repeat;
  background-size: cover;
  width: calc( 320px + 648 * ((100vw - 320px) / 1600));
  height: calc( 320px + 648 * ((100vw - 320px) / 1600));
}

.history .bd1 {
  position: absolute;
  top: 0;
  left: 0;
}

.history .bd2 {
  position: absolute;
  top: 0;
  right: 0;
}

.service {
  /* padding-left: 50px;
    padding-right: 50px; */
  padding-top: calc( 35px + 99 * ((100vw - 320px) / 1600));
  padding-left: calc( 10px + 239 * ((100vw - 320px) / 1600));
  padding-right: calc( 10px + 244 * ((100vw - 320px) / 1600));
  position: relative;
}

.service h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
  margin-bottom: calc( 30px + 55 * ((100vw - 320px) / 1600));
}

.service h1 span {
  color: #fbb400;
}

.service .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* width: 1417px; */
  width: calc( 300px + 1117 * ((100vw - 320px) / 1600));
  margin: 0 auto;
  /* padding-bottom: 270px; */
  padding-bottom: calc( 75px + 195 * ((100vw - 320px) / 1600));
  gap: 50px;
  z-index: 5;
  /* @include adaptiv-value("gap", 45, 10, 0); */
}

.service .content .item {
  /* width: 441px; */
  width: calc( 300px + 141 * ((100vw - 320px) / 1600));
  /* height: 533px; */
  height: calc( 400px + 133 * ((100vw - 320px) / 1600));
  background: #fafbff;
  -webkit-box-shadow: 0px 5px 0px #99baed;
          box-shadow: 0px 5px 0px #99baed;
  border-radius: 29px;
  position: relative;
}

.service .content .item .text .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 103px;
  height: 126px;
  background: #e5ecfe;
  -webkit-box-shadow: 0px 1px 0px #008fdd;
          box-shadow: 0px 1px 0px #008fdd;
  border-radius: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc( 40px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: calc( 24px + 35 * ((100vw - 320px) / 1600));
}

.service .content .item .text .top {
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
  opacity: 1;
  margin-bottom: calc( 20px + 40 * ((100vw - 320px) / 1600));
}

.service .content .item .text p {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
}

.service .content .item .text .bottom {
  width: calc( 280px + 79 * ((100vw - 320px) / 1600));
  margin: 0 auto;
}

.service .content .item .blur {
  /* width: 368px;
                height: 447px; */
  height: calc( 400px + 47 * ((100vw - 320px) / 1600));
  width: calc( 270px + 98 * ((100vw - 320px) / 1600));
  z-index: -1;
  position: absolute;
  /* top: 125px;
                left: 96px; */
  top: calc( 30px + 95 * ((100vw - 320px) / 1600));
  left: calc( 30px + 66 * ((100vw - 320px) / 1600));
}

.service .content .item:hover {
  background: #99baed;
}

.service .content .item:hover .top,
.service .content .item:hover p {
  color: #ffffff;
}

.service .content .item:hover .blur {
  background: #d5e5ff;
  /* filter: blur(94px); */
  -webkit-filter: blur(calc( 34px + (94 - 34) * ((100vw - 320px) / (1920 - 320))));
          filter: blur(calc( 34px + (94 - 34) * ((100vw - 320px) / (1920 - 320))));
}

.service .bd1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
}

.service .bd2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -5;
}

.gallery {
  position: relative;
}

.gallery .bd1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.gallery .bd2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}

.gallery h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #163561;
}

.gallery h1 span {
  color: #fbb400;
}

.gallery .content {
  margin-top: calc( 40px + 70 * ((100vw - 320px) / 1600));
  width: calc( 300px + 1079 * ((100vw - 320px) / 1600));
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc( 26px + 11 * ((100vw - 320px) / 1600));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .content .item {
  /* width: 435px;
            height: 435px; */
  width: calc( 300px + 135 * ((100vw - 320px) / 1600));
  height: calc( 300px + 135 * ((100vw - 320px) / 1600));
  background-size: cover;
}

.gallery .content .item:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 150, 255, 0.35))), url("../images/img/man-1.jpg");
  background-image: linear-gradient(rgba(82, 150, 255, 0.35)), url("../images/img/man-1.jpg");
}

.gallery .content .item:nth-child(2) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 150, 255, 0.35))), url("../images/img/man-2.jpg");
  background-image: linear-gradient(rgba(82, 150, 255, 0.35)), url("../images/img/man-2.jpg");
}

.gallery .content .item:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 150, 255, 0.35))), url("../images/img/man-3.jpg");
  background-image: linear-gradient(rgba(82, 150, 255, 0.35)), url("../images/img/man-3.jpg");
}

.gallery .content .item:nth-child(4) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 150, 255, 0.35))), url("../images/img/man-4.jpg");
  background-image: linear-gradient(rgba(82, 150, 255, 0.35)), url("../images/img/man-4.jpg");
}

.gallery .content .item:nth-child(5) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 150, 255, 0.35))), url("../images/img/man-5.jpg");
  background-image: linear-gradient(rgba(82, 150, 255, 0.35)), url("../images/img/man-5.jpg");
}

.gallery .content .item:nth-child(6) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(82, 150, 255, 0.35))), url("../images/img/man-6.jpg");
  background-image: linear-gradient(rgba(82, 150, 255, 0.35)), url("../images/img/man-6.jpg");
}

.gallery .buttn {
  width: 188px;
  margin: 77px auto 0;
}

footer {
  position: relative;
  margin-top: calc( 70px + 115 * ((100vw - 320px) / 1600));
  padding-bottom: calc( 30px + 68 * ((100vw - 320px) / 1600));
}

footer .wrapper {
  width: calc( 300px + 1062 * ((100vw - 320px) / 1600));
  border-bottom: 1px solid #99baed;
  margin: 0 auto;
}

footer .content {
  width: calc( 280px + 248 * ((100vw - 320px) / 1600));
  text-align: center;
  margin: 0 auto 47px;
}

footer .content p {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #153461;
  opacity: 0.65;
  margin-top: calc( 25px + 11 * ((100vw - 320px) / 1600));
  margin-bottom: calc( 25px + 22 * ((100vw - 320px) / 1600));
}

footer .content .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc( 300px + 228 * ((100vw - 320px) / 1600));
}

footer .content .items .item {
  width: 67px;
  height: 67px;
  background: #d3e5ff;
  margin-right: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content .items .item:hover {
  background: #99baed;
}

footer .content .items .item:last-child {
  margin-right: 0;
}

footer .bd1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
}

footer .bd2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -5;
}

#menu-btn,
#nav-close {
  display: none;
}

#nav-close {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

@media screen and (min-width: 1921px) {
  .service h1 {
    font-size: calc( 37px + 33 * ((100vw - 320px) / 1600));
  }
  .service h1 br {
    display: none;
  }
}

@media screen and (max-width: 1920px) {
  .history {
    overflow-x: hidden;
  }
  .history .bd1 {
    left: calc( -108px + 108 * ((100vw - 320px) / 1600));
  }
  .history .bd2 {
    right: calc( -180px + 180 * ((100vw - 320px) / 1600));
  }
  footer .content .items .item {
    width: calc( 49px + 18 * ((100vw - 320px) / 1600));
    height: calc( 49px + 18 * ((100vw - 320px) / 1600));
  }
  footer .content .items .item img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (min-width: 890px) and (max-width: 1024px) {
  .history .bd1,
  .history .bd2 {
    display: none;
  }
  .history .content {
    padding-top: 40px;
  }
  .history .content .picture {
    margin-left: -35px;
  }
  .service .bd1,
  .service .bd2,
  .gallery .bd1,
  .gallery .bd2,
  footer .bd1,
  footer .bd2 {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  .home main {
    margin-left: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home main #menu-btn {
    display: block;
  }
  .home main nav {
    position: fixed;
    top: 0;
    right: -110%;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    z-index: 1000;
    width: calc( 235px + (280 - 235) * ((100vw - 320px) / (890 - 320)));
    height: 500px;
    margin: 0;
  }
  .home main nav ul {
    display: block;
    margin-top: 88px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: calc( 73px + (95 - 73) * ((100vw - 320px) / (890 - 320)));
  }
  .home main nav ul li {
    margin-bottom: 16px;
  }
  .home main nav ul li:last-child {
    margin-bottom: 0;
  }
  .home main nav ul li a {
    font-size: 28px;
  }
  .home main nav #nav-close {
    display: block;
    position: absolute;
    top: 21px;
    right: 30px;
    color: #99baed;
    font-size: 35px;
  }
  .home main nav.active {
    right: 0;
  }
  .home main .buttn {
    display: none;
  }
  .home main .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home main #menu-btn {
    margin-left: 15px;
  }
  .home main #menu-btn i {
    font-size: 24px;
  }
  .home .content {
    display: block;
    /* margin-right: 10px; */
  }
  .home .content .left {
    text-align: center;
    margin: 0 auto 30px;
  }
  .home .content .left p {
    line-height: calc( 32px + 6 * ((100vw - 320px) / 1600));
  }
  .home .content .right {
    /* @include adaptiv-value("width", 890, 320, 0); */
    width: calc( 320px + (500 - 300) * ((100vw - 320px) / (890 - 320)));
    height: calc( 300px + (300 - 300) * ((100vw - 320px) / (890 - 320)));
    margin: 0 auto;
    background-size: contain;
    background-position: 50%;
  }
  .history .content {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .history .content .text {
    margin: 0 auto;
    text-align: center;
    width: calc( 300px + (790 - 300) * ((100vw - 320px) / (890 - 320)));
    margin-bottom: 30px;
    /* @include adaptiv-value("width", 790, 300, 0); */
  }
  .history .content .picture {
    width: calc( 300px + (500 - 300) * ((100vw - 320px) / (890 - 320)));
    height: calc( 300px + (500 - 300) * ((100vw - 320px) / (890 - 320)));
    margin: 0 auto;
  }
  .history .bd1,
  .history .bd2 {
    display: none;
  }
  .service .bd1,
  .service .bd2,
  .gallery .bd1,
  .gallery .bd2,
  footer .bd1,
  footer .bd2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .service h1 {
    /* @include adaptiv-value("font-size", 70, 37, 0); */
    font-size: calc(38px + (70 - 37) * ((100vw - 320px) / (768 - 320)));
    line-height: calc( 50px + (82 - 50) * ((100vw - 320px) / (768 - 320)));
  }
  .service .content .item .text .icon {
    /* @include adaptiv-value("width", 103, 94, 0);
                @include adaptiv-value("height", 126, 95, 0); */
    width: calc( 94px + (103 - 94) * ((100vw - 320px) / (768 - 320)));
    height: calc( 95px + (126 - 95) * ((100vw - 320px) / (768 - 320)));
  }
  .service .content .item .text p {
    font-size: calc( 24px + (25 - 24) * ((100vw - 320px) / (768 - 320)));
    line-height: calc( 35px + (38 - 35) * ((100vw - 320px) / (768 - 320)));
  }
  .gallery h1 {
    font-size: calc(52px + (68 - 52) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 375px) {
  .home main {
    margin-left: 20px;
  }
  .home main .icons img {
    width: 38px;
  }
  .history .content .text p {
    font-size: 22px;
    line-height: 36px;
  }
}
