@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Catamaran", sans-serif;
}

body {
    overflow-x: hidden;
}

$maxwidth: 1920;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        // Только если меньше контейнер / крч ширина контайнера
        #{$property}: $startSize + px;

        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(
                #{$minSize + px} + #{$addSize} *
                    ((100vw 320px) / #{$maxWidthContainer - 320})
            );
        }
    } @else if $type==2 {
        // Tолько если больше контейнерa / ширина сайта
        #{$property}: $startSize + px;

        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(
                #{$minSize + px} + #{$addsize} *
                    ((100vw - 320px) / #{$maxWidth - 320})
            );
        }
    } @else {
        // Bсerдa
        #{$property}: calc(
            #{$minSize +
                px} +
                #{$addSize} *
                ((100vw - 320px) / #{$maxwidth - 320})
        );
    }
}

button {
    cursor: pointer;
}

.btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: #99baed;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(153, 186, 237, 0.5);
    border: none;
    width: 188px;
    height: 76px;
}

.home {
    main {
        display: flex;
        align-items: center;
        margin-left: calc(30px + (178 - 30) * ((100vw - 890px) / (1920 - 890)));
        /* @include adaptiv-value("margin-left", 178, 15, 0); */
        margin-right: 20px;
        /* @include adaptiv-value("margin-right", 30, 15, 0); */
        .logo {
            margin-right: calc(
                24px + (110 - 24) * ((100vw - 890px) / (1920 - 890))
            );
            /* @include adaptiv-value("margin-right", 110, 12, 0); */
            img {
                @include adaptiv-value("width", 155, 103, 0);
            }
        }
        nav {
            margin-right: calc(
                25px + (400 - 25) * ((100vw - 890px) / (1920 - 890))
            );
            /* @include adaptiv-value("margin-right", 30, 10, 0); */
            ul {
                display: flex;
                list-style: none;
                li {
                    margin-right: calc(
                        10px + (48 - 10) * ((100vw - 890px) / (1920 - 890))
                    );
                    /* @include adaptiv-value("margin-right", 48, 20, 0); */
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        font-weight: 500;
                        font-size: 25px;
                        line-height: 33px;
                        color: #163561;
                        text-decoration: none;
                        &:hover {
                            color: #a3c1ef;
                        }
                    }
                }
            }
        }
        .icons {
            img {
                /* @include adaptiv-value("margin-right", 72, 30, 0); */
                margin-right: calc(
                    10px + (72 - 10) * ((100vw - 320px) / (1920 - 320))
                );
                &:last-child {
                    margin-right: 0;
                }
                cursor: pointer;
            }
        }
        .buttn {
            margin-left: calc(
                15px + (72 - 15) * ((100vw - 768px) / (1920 - 768))
            );
        }
    }
}

.home .content {
    @include adaptiv-value("margin-top", 63, 20, 0);
    display: flex;
    align-items: center;
    .left {
        /* @include adaptiv-value("width", 576, 300, 0); */
        width: 576px;
        @include adaptiv-value("margin-left", 188, 10, 0);
        @include adaptiv-value("margin-right", 38, 0, 0);
        h1 {
            font-weight: 700;
            font-size: 75px;
            line-height: 100px;
            color: #163561;
            @include adaptiv-value("margin-bottom", 29, 15, 0);
            
            width: 576px;
        }
        span {
            color: #fbb400;
        }
        p {
            font-weight: 400;
            font-size: 25px;
            line-height: 38px;
            letter-spacing: 0.03em;
            color: #153461;
            opacity: 0.65;

            @include adaptiv-value("margin-bottom", 97, 30, 0);
        }
    }

    .right {
        float: right;
        /* @include adaptiv-value("width", 1234, 320, 0);
        @include adaptiv-value("height", 821, 500, 0); */
        
        /* background: url("../images/img//home_img.png") no-repeat;
        background-size: 100%; */
        
        img {
            width: 1234px;
            height: 821px;
            overflow-x: hidden;
        }
    }
}

@media screen and (max-width: 890px) {
    .home {
        main {
            margin-left: 30px;
            justify-content: space-between;
            nav {
                display: none;
            }
            .buttn {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .home {
        main {
            margin-left: 20px;
            .icons {
                img {
                    width: 38px;
                }
            }
        }
    }
}
